# Configurações do Banco de Dados para o Ingestor de Dados de CNPJ
# Renomeie este arquivo para .env e altere os valores conforme seu ambiente.

# Tipo do banco de dados (valores aceitos: mysql, postgres)
DB_TYPE=mysql

# Nome do banco de dados cadastrado
DB_NAME=cnpj

# Usuário de acesso ao banco de dados
DB_USER=root

# Senha de acesso ao banco de dados (NUNCA insira senhas reais no arquivo .env.example)
DB_PASS=

# Host do banco de dados
DB_HOST=127.0.0.1

# Porta do banco de dados (Padrão: 3306 para mysql, 5432 para postgres)
DB_PORT=3306
